.breadcrumb {
      grid-area: breadcrumb;
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 20px;
      font-family: 'Cobin', sans-serif;
}

.breadcrumb a {
      color: var(--color-contraste);
      text-decoration: none;
}

.breadcrumb a:hover {
      color: var(--color-acento);
}