
/* ===== DESKTOP ===== */
@media (min-width: 732px) {

      .carousel-Novedades {
            width: 100%;
            max-width: 1580px;
            min-width: 600px;
            height: 570px;
            max-height: 570px;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-template-areas:
                  ".          .     .     .     .     .   . . . . .         ."
                  ".          .     .     .     .     .   . . . . .         ."
                  ".          .     .     .     .     .   . . . . .         ."
                  "btn-left fotos fotos fotos fotos fotos fotos fotos detalles detalles detalles btn-right"
                  "btn-left fotos fotos fotos fotos fotos fotos fotos detalles detalles detalles btn-right"
                  ".          .     .     .     .     .   . . . . .         .";
      }
      .rectangulo-fondo-carrucel {
            position: absolute;
            width: 100%;
            max-width: 1580px;
            min-width: 600px;
            height: 570px;
            max-height: 570px;
            left: 0px;
            top: 0px;
            background: var(--color-terciario-luz1);
            border-radius: 50px;
            z-index: -1;
            filter: blur(20px);
            opacity: 30%;
      }

      .carousel-track{
            grid-area: fotos;
      }

      .carousel-button-left, .carousel-button-right {
            background: none;
            border: none;
            cursor: pointer;
            width: 68px;
            height: 136px;
            align-self: center;
            justify-self: center;
      }

      .carousel-button-left img, .carousel-button-right img{
            width: 41px;
      }

      .carousel-button-left{
            grid-area: btn-left;
      }

      .carousel-button-right{
            grid-area: btn-right;
      }

      .carousel-button-left img {
            rotate: 180deg;
      }

      .carousel-item{
            width: 100%;
      }

      .img1-carrusel{
            width: 100%;
            max-width: 919px;
            max-height: 429px;
            border-radius: 50px;
      }

      .rectangulo-sobre-imagen{
            aspect-ratio: 919 / 429;
            position: absolute;
            width: clamp(328px, 59%, 919px);
            max-width: 919px;
            max-height: 429px;
            border-radius: 50px;
            background-color: var(--color-primario-luz3);
            opacity: 30%;
            z-index: 1;
      }

      .descripcion-carrusel-principal{
            grid-area: detalles;
            display: flex;
            margin-left: 20px;
            flex-direction: column;
            gap: 23px;
      }

      .detalles-carrusel-principal{
            display: flex;
            flex-direction: row;
            gap: 20px;
      }

      .titulo-carrusel-principal, .detalle-lanzamiento, .descripcion-detalle-ranking, .detalle-lanzamiento-fecha{
            font-family: 'Cobin', sans-serif;
            color: var(--color-blanco);
      }

      .img-detalle-carrusel img{
            width: 60px;
      }

      .descripcion-detalle-ranking{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5px;
      }

      .descripcion-detalle-ranking img{
            width: 25px;
      }

      .btn-premium{
            width: 150px;
            height: 50px;
            background: var(--color-primario);
            color: var(--color-blanco);
            border: none;
            border-radius: 10px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
      }

      .icon-premium{
            width: 25px;
            height: 25px;
            background-image: url(../img/icon-premium.png);
            background-size: 25px;
            background-repeat: no-repeat;
      }

      .btn-premium:hover .icon-premium {
            background-image: url(../img/icon-premium-hover.png);
            background-size: 25px;
            background-repeat: no-repeat;
      }

      .btn-premium:hover{
            width: 150px;
            height: 50px;
            background: var(--color-acento);
            color: var(--color-primario);
            border: none;
            border-radius: 10px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
      }

      .tags {
      display: flex;
      gap: 10px;
      }

      .tags .rectangulo {
      border: var(--color-terciario-luz1) 2px solid;
      border-radius: 10px;
      padding: 10px 20px;
      white-space: nowrap;
      font-size: 25px;
      color: var(--color-terciario-luz1);
      cursor: pointer;
      transition: 0.3s ease-in-out;
      }

      .tags .rectangulo:hover {
      border: var(--color-acento) 2px solid;
      color: var(--color-primario);
      background-color: var(--color-acento);
      transition: 0.3s ease-in-out;
      }

      .detalle-etiquetas{
            overflow: hidden;
      }

      .detalle-etiquetas:hover{
            overflow: inherit;
      }
}