
/* Variables de colores */
:root {
  --color-primario: #1D1054;
  --color-secundario: #3C3076;
  --color-terciario: #6C60A3;
  --color-acento: #ECC47D;
  --color-contraste: #C0C0C0;
  --color-blanco: #FFFFFF;
}

/* Body */
body {
  margin: 0;
  background-color: var(--color-primario);
  width: 99vw;
  height: 100vh;
  /* Grid */
  display: grid;
  grid-template-columns: repeat(12, 1fr); /* 12 columnas iguales */
  grid-template-rows: auto auto 1fr auto; /* header, breadcrumb, contenido, footer */
  gap: 20px;
  grid-template-areas:
    ". header header header header header header header header header header ."
    ". main main main main main main main main main main ."
    ". footer footer footer footer footer footer footer footer footer footer .";
}

/* HEader */
header {
  grid-area: header;
}

/* Cuerpo */
.main {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(12, 0.5fr); /* 12 columnas iguales */
  grid-template-rows: auto auto 1fr auto; /* header, breadcrumb, contenido, footer */
  gap: 20px;
  grid-template-areas:
    ". breadcrumb breadcrumb breadcrumb breadcrumb breadcrumb breadcrumb breadcrumb breadcrumb breadcrumb breadcrumb ."
    "canvas-game canvas-game canvas-game canvas-game canvas-game canvas-game canvas-game canvas-game canvas-game canvas-game canvas-game canvas-game"
    ". titulo titulo titulo . . . btns-juego btns-juego btns-juego btns-juego ."
    ". update update update . . . btns-juego btns-juego btns-juego btns-juego ."
    ". categorias categorias categorias . . . . . . . ."
    ". descripcion descripcion descripcion descripcion descripcion descripcion . . . . ."
    ". como-jugar como-jugar como-jugar como-jugar como-jugar como-jugar . . . . ."
    ". controles controles controles . . . . . . . .";
}

/* Juego */
.canvas-game{
  aspect-ratio: 16/9;
  background-color: var(--color-secundario);
  grid-area: canvas-game;
  border-radius: 50px;
  background-image: url('../img/pacSolitaire.png') ;
  background-size: cover;
  min-width: 600px;
  max-width: 1400px;
  margin-left: 50px;
}

/* Titilo Juego */
.titulo {
  grid-area: titulo;
  font-size: 35px;
  font-family: 'Cobin', sans-serif;
  color: var(--color-blanco);
  white-space: nowrap;
}

/* Ultima actualizacion del juego */
.update {
  grid-area: update;
  font-size: 30px;
  font-family: 'Cobin', sans-serif;
  color: var(--color-blanco);
  white-space: nowrap;
}

/* Botonos de Juego */
.btns-juego {
  grid-area: btns-juego;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.compartir, .favoritos, .estrella, .maximizar {
  background-color: var(--color-terciario);
  border: none;
  width: 80px;
  max-width: 80px;
  min-width: 80px;
  height: 80px;
  border-radius: 50px;
  background-repeat: no-repeat;
  background-position: center;
}

.compartir {
  background-image: url('../img/compartir.png');
}

.compartir:hover {
  background-image: url('../img/compartir-hover.png');
}

.favoritos {
  background-image: url('../img/favoritos.png');
}

.favoritos:hover {
  background-image: url('../img/favoritos-hover.png');
  background-position-y: 30%;
}

.estrella {
  background-image: url('../img/estrella.png');
}

.estrella:hover {
  background-image: url('../img/estrella-hover.png');
  background-position-y: 20%;
}

.maximizar {
  background-image: url('../img/maximizar.png');
}

.maximizar:hover {
  background-image: url('../img/maximizar-hover.png');
}

/* Categorias de este juego */
.categorias {
  grid-area: categorias;
  font-size: 30px;
  font-family: 'Cobin', sans-serif;
  color: var(--color-blanco);
}

.categorias h4 {
  margin: 5px;
}

.tags {
  display: flex;
  gap: 10px;
}

.tags .rectangulo {
  border: var(--color-terciario) 2px solid;
  border-radius: 10px;
  padding: 10px 20px;
  white-space: nowrap;
  font-size: 25px;
  color: var(--color-terciario);
  cursor: pointer;
}

.tags .rectangulo:hover {
  border: var(--color-acento) 2px solid;
  color: var(--color-acento);
}

/* DEscripcion del juego */
.descripcion {
  grid-area: descripcion;
  font-size: 30px;
  font-family: 'Cobin', sans-serif;
  color: var(--color-blanco);
}

.descripcion h4 {
  margin: 5px;
}

.descripcion p {
  font-size: 25px;
  margin: 0px;
}

/* Como Jugar? */
.como-jugar {
  grid-area: como-jugar;
  font-size: 30px;
  font-family: 'Cobin', sans-serif;
  color: var(--color-blanco);
}

.como-jugar h4 {
  margin: 5px;
}

.como-jugar p {
  font-size: 25px;
  margin: 0px;
}

.controles {
  grid-area: controles;
  display: flex;
  align-items: center;
  gap: 20px;
}

.controls {
  background-color: var(--color-terciario);
  border: var(--color-blanco) 2px solid;
  width: 50px;
  max-width: 50px;
  min-width: 50px;
  height: 50px;
  border-radius: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../img/controls.png');
}

.controles h4 {
  font-size: 30px;
  font-family: 'Cobin', sans-serif;
  color: var(--color-blanco);
  margin: 5px;
}

.controles img {
  width: 67px;
  max-width: 67px;
  min-width: 67px;
  height: 84px;
}

/* Footer */

footer {
  grid-area: footer;
}
