
/*VARIABLES DE COLORES*/
:root {
  --color-primario: #1D1054;

  --color-primario-luz1: #4B3D86;
  --color-primario-luz2: #6C60A3;
  --color-primario-luz3: #3C3076;

  --color-primario-sombra1: #13054A;
  --color-primario-sombra2: #100639;
  --color-primario-sombra3: #080220;


  --color-secundario: #350B52;

  --color-secundario-luz1: #643683;
  --color-secundario-luz2: #4C1E6B;
  --color-secundario-luz3: #3E0663;

  --color-secundario-sombra1: #310A4C;
  --color-secundario-sombra2: #220338;
  --color-secundario-sombra3: #13011F;


  --color-terciario: #0E2551;

  --color-terciario-luz1: #395281;
  --color-terciario-luz2: #213B6A;
  --color-terciario-luz3: #172F5C;

  --color-terciario-sombra1: #072255;
  --color-terciario-sombra2: #041637;
  --color-terciario-sombra3: #010C1F;

  --color-acento: #ECC47D;

  --color-contraste: #C0C0C0;
  --color-blanco: #FFFFFF;
  --color-negro: #000000;
  --color-danger: #D1242F;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 25px;
}

p {
  font-size: 20px;
}

body {
    background-color: var(--color-primario);
    margin: 0;
    display: flex; 
    flex-direction: column; 
    min-height: 100vh;
    padding: 0; 
    font-family: 'Cobin', sans-serif;
}

/* HEADER */
.header {
    width: 100%;
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 2px 2px;
    background-color: var(--color-secundario-sombra1);
    z-index: 100;
}

.header-left, .header-right, .header-center {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.hamburger-menu {
    cursor: pointer;
}

.hamburger-icon {
    width: 55px;
    height: 55px;
}

.site-name {
    font-size: 25px;
    font-weight: bold;
    color: rgba(217, 217, 217, 1);
}

.header-center {
    flex-grow: 1;
    justify-content: center;
}

.search-form {
    display: flex;
    align-items: center;
    background-color: var(--color-secundario-luz2);
    border-radius: 50px;
    padding: 0.5rem 1rem;
    max-width: 600px;
    max-height: 40px;
    width: 100%;
}

.search-icon {
    width: 25px;
    height: 25px;
    margin-right: 1rem;
    color: rgba(217, 217, 217, 1);
}

.search-input {
    background: none;
    border: none;
    color: rgba(217, 217, 217, 1);
    width: 100%;
    font-size: 24px;
    outline: none;
}

.search-input::placeholder {
    color: rgba(217, 217, 217, 1);
}

.header-right {
    gap: 14px;
}

.icon-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 14px;
}

.button-icon {
    width: 40px;
    height: 40px;
}

/*________________________________________________________________________________________________________________________________________________________________*/

/* MAIN CONTENT */
.home-container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 40px;
}

/* Espacio entre header y la card principal */
.home-container > .game-card {
    margin-top: 94px;
}

.game-card {
    flex-shrink: 0;
    background-color: var(--color-secundario-sombra2);
    border-radius: 10px;
    overflow: hidden;
    color: rgba(217, 217, 217, 1);
    height: 365px;
    flex: 0 0 calc((100% - (41px * 3)) / 4); /* 4 cards with 3 gaps */
    max-width: 350px;
    min-width: 220px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 15px 15px 10px 15px; /* top, right, bottom, left */
}

.card-image-top {
    width: 320px;
    height: 195px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    margin: 0 auto 15px auto; /* 15px debajo de la imagen */
}

.card-body {
    padding: 0;
}

.title-and-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.game-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}

.free-label {
    background-color: transparent;
    border: 2px solid color var(--color-acento);
    color: color var(--color-acento);
    padding: 2px 8px;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: bold;
}

.game-description {
    font-size: 0.9rem;
    color: rgba(217, 217, 217, 0.7);
    line-height: 1.4;
    margin: 0 0 10px 0;
}

.card-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.rating {
    font-family: 'Cobin', sans-serif;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1.2rem;
}

.star-icon {
    color: color var(--color-acento);
}

.interaction-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.favorite-button {
    background-color: var(--color-primario-luz3);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.favorite-button img {
    width: 24px;
    height: 24px;
}

.play-button {
    background-color: var(--color-primario-luz3);
    color: rgba(217, 217, 217, 1);
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    width: 87px;
    height: 44px;
    justify-content: center;
}
.play-button img {
    width: 16px;
    height: 16px;
}

.play-icon {
    width: 64px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*CARRUSEL*/

.seccion-juegos{
    padding: 20px 0;
}

.titulo-seccion {
    color: rgba(255, 255, 255, 1);
    margin-bottom: 20px;
    font-size: 1.5em;
    padding-bottom: 10px;
}

.carrusel {
    flex-wrap: nowrap; 
    display: flex;
    justify-content: flex-start;
    overflow-x: auto; 
    gap: 41px; /* Espacio entre las cards */
    padding-bottom: 15px; /* Espacio para que no se pegue al fondo */
    width: 100%;
    min-width: 0;
    max-width: 100%;
    box-sizing: border-box;
    overflow-x: auto;
}

@media (max-width: 1500px) {
    .carrusel {
        width: 100vw;
        min-width: 100vw;
        gap: 2vw;
    }
}

/* Espaciado vertical entre carruseles */
.seccion-juegos {
    margin-bottom: 147px;
    padding: 0;
}
.seccion-juegos:last-child {
    margin-bottom: 0;
}

.carrusel::-webkit-scrollbar {
    display: none;
}

/* FOOTER */
.footer {
    width: 1920px;
    height: 600px;
    background-color: var(--color-secundario-sombra2);
    padding: 0 80px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 1760px;
    height: 273px;
    box-sizing: border-box;
    gap: 132px;
}

.links-section{
    width: 114px;
    height: 178px;
}

.redes-section{
    width: 294px;
    height: 199px;
}

.novedades-section{
    width: 390px;
    height: 201px;
}

.contacto-section {
    width: 214px;
    height: 181px;
}

.footer h3 {
    color: rgba(236, 196, 125, 1);
    font-size: 36px;
    margin-bottom: 1rem;
    font-weight: normal;
}

.footer p {
    color: rgba(192, 192, 192, 1);
    font-size: 20px;
}

.footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer ul li::before {
    content: "•";
    color: rgba(217, 217, 217, 1);
    font-size: 20px;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.footer ul li a {
    color: rgba(217, 217, 217, 1);
    font-size: 20px;
    text-decoration: none;
    line-height: 1.5;
    display: inline;
}

.footer a:hover {
    color: rgba(236, 196, 125, 1);
    text-decoration: underline;
}

.social-icons {
    display: flex;
    gap: 1rem;
    margin-top: 10px;
}

.social-icons a {
    display: inline-block;
    width: 40px;
    height: 40px;
}

.social-icons img {
    width: 100%;
    height: 100%;
}

.novedades-section {
    max-width: 390px;
}

.novedades-section form {
    display: flex;
    margin-top: 10px;
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 5px;
    overflow: hidden;
}

.novedades-section input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    background-color: transparent;
    color: rgba(217, 217, 217, 1);
    outline: none;
    font-size: 16px;
}

.novedades-section input::placeholder {
    color: rgba(255, 255, 255, 1);
}

.novedades-section button {
    padding: 10px 15px;
    border: none;
    background-color: rgba(236, 196, 125, 1);
    color: rgba(60, 48, 118, 1);
    cursor: pointer;
}

.contacto-section .email-link {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    font-size: 20px;
    display: block;
    margin-top: 5px;
}